*{
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

body{
  font-family: 'Space Mono', monospace;
  padding: 0;
  margin: 0;

  color: #333;
}

#container{
  max-width: 1200px;
  padding: 24px;
  margin: 0 auto;

  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.title{
  font-family: 'Inconsolata', monospace;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -2px;
  
  margin: 0;
}

main{
  display: flex;
  align-items: center;
}

.img-container{
  flex: 1;
  width: 50%;
  margin: 0 auto;

}

.img-container img{
  width: 100%;
  
}

.text-container{
  flex: 1;
  width: 50%;
  margin: 0 auto;
  padding: 0 100px;

  font-size: 24px;

}

.text-container .heading{
  font-size: 3rem;
  font-weight: 700;

  margin: 0;
}

.text-container p{

  font-weight: 400;

  margin: 0;
  margin-top: 36px;
}

.text-container button{
  border: none;
  background-color: #333;
  color: white;
  padding: 24px 42px;

  margin: 0;

  margin-top: 64px;

  font-size: 1rem;
}

.text-container button:hover{
  opacity: 0.5;
  transition: 300ms ease-in-out;
}

footer{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #bdbdbd;
  
  margin: 0;
  padding: 0;

  padding: 24px 0;
  display: block;
  margin: 0 auto;
}

footer a{
  font-weight: 700;
}

@media only screen and (max-width: 800px){
  main{
    display: block;
  }
  .img-container{
    display: block;
    width: 80%;
    margin-top: 64px;
  }

  .text-container{
    display: block;
    width: 100%;
    margin: 64px 0;
    padding: 0;
  }

  .text-container p{
    font-size: 18px;
  }
  
  footer {
    font-size: 0.5em;
  }

}
